/* section-1 */
.font-monorope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
    color: white;
    margin: 0;
}
.custom-icon {

    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 6px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    height: 30px;


}

.custom-icon:hover {

    background-color: red;
    transition: 0.3s;
}
@media(min-width:768px){
    .content-box{
        width: 70%;
    }
}
.main-heading {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    line-height: 70px;
    font-size: 57px;
    padding: 20px 0px;

}
.font-monorope-1 {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* line-height: 29px; */
    font-style: normal;
    font-size: 18px;
    color: #FF493B;
    letter-spacing: 4px;
    margin: 0;
}
.sec1-btn2 {
    background-color: #ffffff;
    color: black;
    padding: 7px 23px;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-sizing: border-box;

}

.sec1-btn2:hover {
    background-color: #FF493B;
    color: white;
    border-color: #FF493B;
    transition: 0.5s;
}
.sec1-para {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    width: 500px;
    color: white;
    margin: 0;
}
.sec1-btn1 {
    background-color: transparent;
    padding: 8px 23px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.sec1-btn1:hover {
    background-color: #FF493B;
    color: black;
    border-color: #FF493B;
    /* Change border color to match background */
}

@media (max-width: 768px) {
    .main-heading {
        font-size: 45px;
        line-height: 55px;
    }

    .sec1-para {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
    }
    .font-monorope-1{
        font-size: 15px;
    }
}
.col-auto {
    flex: 0 0 auto;
}



/* navbar */
.font-michroma {
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: x-small;
}

.button-rounded {
    background-color: red;
    padding: 3px 25px 5px 25px;
    color: white;
    border: none;
    border-radius: 20px;
}

.button-rounded:hover {
    transition: 0.3s;
    color: black;
    background-color: #ffffff;
}

.policy-page {
    opacity: 0.5;
}

.policy-page:hover {
    opacity: 1;
    transition: 0.3s;
}

.bg-img {
    background: url("./assets/front-side.webp") no-repeat center center;
    background-size: cover;
    /* width: 50%; */
    height: 700px;
    opacity: 0.5;
}


.bg-img-1 {
    background: url("./assets/main-truck-mask.png") no-repeat center center;

    background-size: cover;
    position: relative;

}

.bg-img-1::after {
    content: "";
    background: rgba(0, 0, 0, 0.7);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.bg-img-1>* {
    position: relative;
    z-index: 2;
}




@media (max-width: 768px) {
    .bg-img-1 {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .bg-img-1 {
        height: 400px;
    }
}










/* section with bg img */
.sec-img {
    background-image: url("./assets/2nd-truck.webp");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    .custom-width {
        width: 55%;
        padding: 5px 0px 20px 25px;
    }
}

@media (min-width: 778px) {
    .custom-width {
        /* width: 55%; */
        padding: 5px 0px 30px 25px;
    }
}

.inc-num1 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    line-height: 70px;
    font-size: 33px;
    margin: 0;
}

.custom-width p {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;

    margin: 0;
}

/* 3rd section */
.third-para1 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    color: #FF493B;
    letter-spacing: 4px;
    margin: 0;
}

.box1 h2 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    line-height: 70px;
    font-size: 50px;
    padding: 20px 0px;
}

@media (max-width: 576px) {
    .box1 h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

.third-para2 {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;

    color: white;
    margin-bottom: 20px;
}

.third-h3 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    line-height: 60px;
    font-size: 25px;
    padding: 5px 0px;
}

.third-p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .third-border {
        border-bottom: 1px solid rgb(255, 254, 253, 0.2);
        margin-bottom: 5px;
    }
}

/* section4 */
.sec4-h2 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;

    font-size: 55px;
    padding: 30px 0px;
}

.sec4-p1 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 3px;
    color: #FF493B;
    margin: 0;
}

@media (max-width: 700px) {
    .sec4-responsive {
        text-align: center;

    }

    .sec4-h2 {
        font-size: 33px;
    }

    .sec4-responsive button {
        float: none;
    }
}

@media(min-width:750px) {
    .sec4-responsive button {
        float: inline-end;
    }
}

.sec4-h3 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    line-height: 60px;
    font-size: 25px;
    padding: 5px 0px;
}

.sec4-p2 {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;

    color: white;
    margin-bottom: 20px;
}

.section5 h2 {

    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    /* line-height: 70px; */
    font-size: 50px;
    padding: 20px 0px;
}

.section5 p:nth-of-type(1) {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 4px;



}

.section5 p:nth-of-type(2) {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

.section5-btn1 {
    background-color: transparent;
    padding: 8px 23px;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.section5-btn1:hover {
    background-color: #0B1117;
}

.section5-btn2 {
    background-color: #0B1117;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    padding: 10px 25px;
    transition: 0.5s;
}

.section5-btn2:hover {
    background-color: white;
    color: #0B1117;
}

@media(max-width:700px) {
    .section5 h2 {
        font-size: 40px;
        text-align: center;
    }

    .section5 p:nth-of-type(1) {
        text-align: center;
    }

    .section5 p:nth-of-type(2) {
        text-align: center;
        font-size: 17px;
    }


}

/* section6 */
.section6 h2:nth-of-type(1) {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    line-height: 70px;
    font-size: 44px;
    padding: 20px 0px;
}

@media (max-width:700px) {
    .section6 h2:nth-of-type(1) {

        font-size: 40px;
        line-height: 50px;
    }
}

.section6 h3 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;

    font-size: 20px;
}

.section6 p {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
}

/* section 7 */
.section7-col2 p:nth-of-type(1) {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 4px;
    line-height: 28px;
    color: #FF493B;
    margin: 0;

}

.section7-col2 h2 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;

    font-size: 53px;
    padding: 20px 0px;
}

.section7 {
    padding: 150px 0px;
}

.section7-col2 p:nth-of-type(2) {
    font-family: "Manrope", sans-serif;

    font-style: normal;
    font-size: 16px;
    line-height: 26px;

}

.section7-bg-img {
    background-image: url("./assets/working.webp");
    width: 80%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.section7-carousel {
    left: 50px;
    top: 315px;
}

@media(max-width:700px) {
    .section7-bg-img {
        width: 300px;

        background-repeat: no-repeat;
        height: 400px;
    }

    .section7-carousel {
        left: 18px;
        top: 235px;
        width: 290px;
    }

    .section7-col2 h2 {


        line-height: 40px;
        font-size: 25px;

    }

    .section7-col2 .six-box1 {
        padding-left: 20px;
    }

    .section7-col2 p:nth-of-type(2) {

        font-size: 11px;
        line-height: 20px;
        letter-spacing: 1px;

    }

    .section7 {
        padding: 0px 0px 100px 0px;
    }
}

/* section8 */
.contact p:nth-of-type(1) {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 4px;
    color: #FF493B;
    padding-bottom: 10px;
}

.contact p:nth-of-type(2) {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;

    padding-bottom: 10px;
}

.contact h2 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    word-wrap: break-word;
    line-height: 70px;
    font-size: 50px;
    padding: 20px 0px;
}

.sec8-h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;


}

.num {
    font-family: "Michroma", sans-serif;

    font-size: 20px;


}

.num:hover {
    color: #FF493B;
    transition: 0.3s;
}

.email {
    font-family: "Michroma", sans-serif;

    font-size: 18px;


}

.bottom-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /* White border with 30% opacity */
}

.email:hover {
    color: #FF493B;
    transition: 0.3s;
}

@media(max-width:700px) {
    .section8 h2 {
        line-height: 40px;
        font-size: 30px;
    }
}

/* section9 */


.section9 h3 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;


    font-size: 14px;
    padding: 5px 0px;
}

@media(max-width:576px) {

    .sec9-last-h3 {
        font-size: 11px !important;
    }
} 

/* footer */
/* .footer-p {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding: 35px 0 0 0;
    line-height: 30px;
}

.footer h3 {
    font-family: "Michroma", sans-serif;
    font-weight: 500;


    font-size: 14px;
    padding: 5px 0px;
    line-height: 40px;
}

.footer li {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;

    line-height: 50px;
}

.footer li:hover {
    color: #FF493B;
    transition: 0.3s;
} */


.footer-p{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 0px;
}

.footer h3{
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}
.footer ul li{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 60px;
}

.footer ul li:hover{
    color: #FF493B;
    transition: 0.3s;
}

/* footer btm */

.footer-btm-link{
    color: white;
}
.footer-btm-link:hover{
    color: #FF493B;
    transition: 0.3s;
}


/* section-2 */
/* #storage_number{
    font-size:1.5rem;
    margin:4rem auto 1rem auto;
    width:200px;
} */
