/* before navbar */
.font-monorope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
    color: white;
    margin: 0;
}
.custom-icon {

    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 6px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    height: 30px;


}

.custom-icon:hover {

    background-color: red;
    transition: 0.3s;
}

/*  navbar*/
.font-michroma {
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: x-small;
}

.button-rounded {
    background-color: red;
    padding: 3px 25px 5px 25px;
    color: white;
    border: none;
    border-radius: 20px;
}

.button-rounded:hover {
    transition: 0.3s;
    color: black;
    background-color: #ffffff;
}

.policy-page {
    opacity: 0.5;
}

.policy-page:hover {
    opacity: 1;
    transition: 0.3s;
}

/* section1 */

.main-h2{
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 45px;
}
@media (max-width: 768px) {
    .main-h2 {
        font-size: 35px;
    }
}
.link-home, .policy{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color:white
}
.link-home:hover{
    color: #FF493B;
    transition: 0.3s;
}
.policy:hover{
    color: #FF493B;
   transition: 0.3s;
}
.content-box{
   height: 400px;
}
@media(max-width: 768px){
    .content-box{
       height: 250px;
    }
}


p{
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-size: 16px;
  font-style: normal;
line-height: 30px;
}

/* all h2s */
h2{
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    line-height: 70px;
}
@media (max-width: 768px) {
    h2 {
        line-height: 35px;
        font-size: 20px;
        padding: 20px 0;
    }
}

/* all ul */
ul.main-ul li{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
}

/* mail hover */
.mail{
    color: #FF493B;
    text-decoration: none;
}
.mail:hover{
    color: white;
    transition: 0.3s;
}
/* 3 boxes */
.three-box h3{
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
}

/* footer para */

.footer-p{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 0px;
}

.footer h3{
    font-family: "Michroma", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}
.footer ul li{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 60px;
}

.footer ul li:hover{
    color: #FF493B;
    transition: 0.3s;
}

/* footer btm */

.footer-btm-link{
    color: white;
}
.footer-btm-link:hover{
    color: #FF493B;
    transition: 0.3s;
}